<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Consola -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %logger | %msg%n"/>
        </Console>

        <!-- Archivo con rotación diaria -->
        <RollingFile name="RollingFile"
                     fileName="./logs/MaestroSaldos.log"
                     filePattern="./logs/logs_MaestroSaldos.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %logger | %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="./logs/" maxDepth="1">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="3d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Nivel global: solo errores -->
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <!-- Tu código en INFO -->
        <Logger name="mx.baz.conciliaciones.operaciones" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- HikariCP en WARN -->
        <Logger name="com.zaxxer.hikari" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>